## MPlayer Configuration

#really-quiet=yes	# Very very little console output
ontop=yes		# Always keep mplayer on top
geometry=0%:100%	# Window Position
#monitoraspect=16:9	# Keep aspect ratio to my monitor
#monitoraspect=16:10	# Keep aspect ratio to my (other) monitor
xy=720			# Set initial video size

vc=ffh264vdpau		# DVD NAV Settings
vo=vdpau		# Specify default video driver

lavdopts=threads=4	# Number of processing threads

unicode=yes		# Subtitle file encoding
utf8=yes
